# Coleta de dados

In [15]:
# #TODO correlação com datas -> series temporais
# #TODO como tratar dados descritivos(opinião/review) 
# #TODO seller sem relação com nenhuma outra tabela item
# #TODO location 
# #TODO tamanho do artigo

In [16]:
import pandas as pd
# import numpy as np
# from sklearn.preprocessing import StandardScaler,MinMaxScaler
# import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords

In [17]:
# nltk.download_gui()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [18]:
print(stopwords.words('portuguese'))

['de', 'a', 'o', 'que', 'e', 'é', 'do', 'da', 'em', 'um', 'para', 'com', 'não', 'uma', 'os', 'no', 'se', 'na', 'por', 'mais', 'as', 'dos', 'como', 'mas', 'ao', 'ele', 'das', 'à', 'seu', 'sua', 'ou', 'quando', 'muito', 'nos', 'já', 'eu', 'também', 'só', 'pelo', 'pela', 'até', 'isso', 'ela', 'entre', 'depois', 'sem', 'mesmo', 'aos', 'seus', 'quem', 'nas', 'me', 'esse', 'eles', 'você', 'essa', 'num', 'nem', 'suas', 'meu', 'às', 'minha', 'numa', 'pelos', 'elas', 'qual', 'nós', 'lhe', 'deles', 'essas', 'esses', 'pelas', 'este', 'dele', 'tu', 'te', 'vocês', 'vos', 'lhes', 'meus', 'minhas', 'teu', 'tua', 'teus', 'tuas', 'nosso', 'nossa', 'nossos', 'nossas', 'dela', 'delas', 'esta', 'estes', 'estas', 'aquele', 'aquela', 'aqueles', 'aquelas', 'isto', 'aquilo', 'estou', 'está', 'estamos', 'estão', 'estive', 'esteve', 'estivemos', 'estiveram', 'estava', 'estávamos', 'estavam', 'estivera', 'estivéramos', 'esteja', 'estejamos', 'estejam', 'estivesse', 'estivéssemos', 'estivessem', 'estiver', 'estivermos', 'estiverem', 'hei', 'há', 'havemos', 'hão', 'houve', 'houvemos', 'houveram', 'houvera', 'houvéramos', 'haja', 'hajamos', 'hajam', 'houvesse', 'houvéssemos', 'houvessem', 'houver', 'houvermos', 'houverem', 'houverei', 'houverá', 'houveremos', 'houverão', 'houveria', 'houveríamos', 'houveriam', 'sou', 'somos', 'são', 'era', 'éramos', 'eram', 'fui', 'foi', 'fomos', 'foram', 'fora', 'fôramos', 'seja', 'sejamos', 'sejam', 'fosse', 'fôssemos', 'fossem', 'for', 'formos', 'forem', 'serei', 'será', 'seremos', 'serão', 'seria', 'seríamos', 'seriam', 'tenho', 'tem', 'temos', 'tém', 'tinha', 'tínhamos', 'tinham', 'tive', 'teve', 'tivemos', 'tiveram', 'tivera', 'tivéramos', 'tenha', 'tenhamos', 'tenham', 'tivesse', 'tivéssemos', 'tivessem', 'tiver', 'tivermos', 'tiverem', 'terei', 'terá', 'teremos', 'terão', 'teria', 'teríamos', 'teriam']

In [19]:
reviews = pd.read_csv("datasets/olist_order_reviews_dataset.csv")

# Pré-Processamento dos Dados

## Definindo Tipos

In [20]:
reviews.head(5)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [21]:
reviews.dtypes

review_id                  object
order_id                   object
review_score                int64
review_comment_title       object
review_comment_message     object
review_creation_date       object
review_answer_timestamp    object
dtype: object

In [22]:
reviews["review_id"] = reviews["review_id"].astype("category")
reviews["order_id"] = reviews["order_id"].astype("category")
reviews["review_comment_title"] = reviews["review_comment_title"].astype("category")
reviews["review_comment_message"] = reviews["review_comment_message"].astype("category")
reviews["review_creation_date"] = pd.to_datetime(reviews["review_creation_date"],format="%Y/%m/%d %H:%M:%S")
reviews["review_answer_timestamp"] = pd.to_datetime(reviews["review_answer_timestamp"],format="%Y/%m/%d %H:%M:%S")
reviews.dtypes

review_id                        category
order_id                         category
review_score                        int64
review_comment_title             category
review_comment_message           category
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [23]:
reviews.shape

(99224, 7)

In [24]:
# remove reviews duplicados
"""
reviews.sort_values(by=["review_id","review_creation_date"],ascending=True,inplace=True)

reviews = reviews.drop_duplicates(keep="last",subset=["review_id"])
reviews.sort_values(by=["order_id","review_creation_date"],ascending=True,inplace=True)
reviews = reviews.drop_duplicates(keep="last",subset=["order_id"])
# reviews["order_id"].duplicated().value_counts()
# reviews.drop(["review_comment_title","review_comment_message"],axis="columns",inplace=True ) 
"""
reviews.shape

(99224, 7)

In [25]:
def not_empty(s):
  return len(s) > 1

In [26]:
reviews["order_id"].duplicated().value_counts()

False    98673
True       551
Name: order_id, dtype: int64

In [27]:
reviews = reviews[reviews["review_comment_message"].notna()]
reviews = reviews[reviews["review_comment_message"].apply(not_empty)]
reviews["order_id"].duplicated().value_counts()

False    40734
True       140
Name: order_id, dtype: int64

## Discretizando dados categoricos

In [28]:
reviews.to_csv("datasets/reviews.csv")